*{
    background-color: rgb(236, 235, 232);
}

header{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

h1{
    color: rgb(115, 85, 74);
}

h2{
    color: rgb(223, 210, 206);
    background-color: rgb(115, 85, 74);
}