*{
    font-family: Verdana, Arial, sans-serif;
    background-color: rgb(236, 235, 232);
    color: rgb(144, 106, 96);
}

img{
    width: 100%;
}

nav{
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
}

h1{
    font-size: 35px;
    color: rgb(115, 85, 74);
}

h2{
    color: rgb(223, 210, 206);
    background-color: rgb(115, 85, 74);
}

p{
    color: rgb(144, 106, 96);
}

.underline-bold {
    font-weight: bold;
    text-decoration: underline;
}

.orange-color{
    color:rgb(227, 97, 32);
}

.la-nacion{
     color: rgb(74, 167, 192);
}

.pagina-doce{
    color: rgb(226, 56, 74);
}

.pie-de-pagina{
    background-color: #111;
    color: yellow;
    line-height: 100px;
    text-align: center;
}

footer {
    height: 100px;
    background-color: #111;
}